<!DOCTYPE html>
<html>
<head>
  <title>Ruby-Q</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <%= render 'app/account_bar' %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <section>
  <%= yield %>
  </section>

</body>
</html>
